/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    /* background-image: url(images/notebook-bg-1.jpg); */
    /* background-color: #ffffe6; */
    background-repeat: no-repeat;
    background-repeat: cover;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Custom */
a {
    text-decoration: none;
}

a:visited, a:link {
    color: black;
}

a:hover {
    color: #007acc;
}


/* Nav */
.header, nav, nav li {
    display: inline-block;
}

header {
    padding: 20px 0;
}

nav {
    float: right;
    vertical-align: center;
    margin-top: 23px;
}

nav a {
    padding: 15px;
}

.navbar {
    margin-right: 10px;
}

/* Hero Area */
#hero-area {
    background: url('images/jerusalem-walls-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 230px 0;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#hero-area h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    /* border: 1px solid gray; */
    background-color: rgb(242, 242, 242, 0.4);
    border-radius: 15px;
    margin-bottom: 8px;
    display: block;
    width: auto;
}

#hero-area h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 20px;
}

#hero-area .btn {
    background: #414141;
    border: none;
    color: #fff;
    padding: 20px 35px;
    margin-top: 30px;
    font-size: 16px;
    font-size: 13px;
    line-height: 1em;
    /* text-transform: uppercase; */
    letter-spacing: normal;
    border-radius: 0;
}

#hero-area a:hover {
    background: #007acc;
}

.btn:hover {
    cursor: pointer;
}

/* About section */
#about {
    padding: 110px 0;
}

#about img {
    height: 380px;
    width: auto;
    image-orientation: from-image;
    border-radius: 15px;
}

#about .profile {
    text-align: center;
    /* margin: 0 auto; */
  }

#about p {
    color: #727272;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 35px;
}

#about h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    /* text-transform: uppercase; */
}

/* Projects section */
#projects {
    padding: 80px 0;
    background: #FCFCFC;
}

.section-heading {
    text-align: center;
    margin-bottom: 65px;
}

.section-heading h1 {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 300;
    color: #333;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

figure {
    background: #fff;
    margin-bottom: 45px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

figure img {
    width: 100%;
    height: auto;
}

figure .img-wrapper {
    position: relative;
    overflow: hidden;
}
figure img {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 400ms;
    transition: transform 400ms;
}
figure:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}
figure:hover .overlay {
    opacity: 1;
}
figure:hover .overlay .buttons a {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
figure .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}
figure .overlay a {
    display: inline-block;
    color: #fff;
    padding: 10px 23px;
    line-height: 1;
    border: 1px solid #fff;
    border-radius: 0px;
    margin: 4px;
    /* -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all 400ms;
    transition: all 400ms; */
}
figure .overlay a:hover {
    text-decoration: none;
}
figure .overlay:hover a {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
figure .buttons {
    position: absolute;
    top: 45%;
    left: 24%;
}
figure figcaption {
    padding: 20px 25px;
    margin-top: 0;
    color: #666;
}
figure figcaption h4 {
    margin: 0;
}
figure figcaption h4 {
    color: #007acc;
}
figure figcaption p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 5px;
}

figure img {
    height: 100%;
}

.project-skills {
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

.project-skills li {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 7px;
    border: 2px solid #ac7339;
}

/* Skills section */
#skills {
    padding: 80px 0;
    text-align: center;
}

.skills-bucket img {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1rem;
    height: 90px;
    width: auto;
    margin: 0 auto;
}

.skills-bucket {
    width: 90%;
    margin: 0 auto;
}

.icon i {
    font-size: 50px;
    /* padding: 20px; */
    line-height: 1.5;
}

.icon, .media-body h4 {
    text-align: center;
    /* line-height: 2;  */
}

.media-body h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

.media-body p {
    line-height: 25px;
    font-size: 14px;
    color: #777777;
}

/* Contact section */
#contact {
    background-color: #007acc;
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
}

#contact h2 {
    font-weight: 600;
    /* text-transform: uppercase; */
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 15px;
}

#contact h3 {
    font-weight: 500;
}

#contact li {
    margin: 10px 0;
}

#contact i {
    padding: 5px;
}

#contact a:hover {
    color: #ac7339;
}

/* Footer */
.copyright {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

footer li {
    display: inline-block;
    font-size: 24px;
    float: right;
    padding: 0 10px;
}

footer {
    padding-top: 20px;
    padding-bottom: 55px;
    color: #555;
}

/* #footer {
    background-color: #007acc;
    color: white;
} */

